{{define "content"}}
    <div class="container marketing">
        <h3 class="text-center mb-4">Log Entries</h3>
        <table class="table table-striped text-center" style="font-size: 14px">
            <thead>
            <tr>
                <th>Status</th>
                <th>Hostname</th>
                <th>IP sent</th>
                <th>Timestamp</th>
                <th>User Agent</th>
                <th>Caller IP</th>
            </tr>
            </thead>
            <tbody>
            {{range .logs}}
                <tr>
                    <td class="align-middle mx-auto"><div class="{{if .Status}}bg-success{{else}}bg-danger{{end}}" style="width: 16px; height: 16px; margin: auto"></div></td>
                    <td>{{.Host.Hostname}}.{{$.config.Domain}}</td>
                    <td>{{.SentIP}}</td>
                    <td>{{.CreatedAt.Format "01/02/2006 15:04"}}</td>
                    <td>{{.UserAgent}}</td>
                    <td>{{.CallerIP}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
{{end}}